:root {
    --color-theme-primary: #1262b3;
    --color-theme-secondary: aliceblue;
    --color-text-primary: rgba(0,0,0,0.87);
    --color-text-secondary: rgba(0,0,0,0.4);
    --color-text-tertiary: rgba(0,0,0,0.1); }
html {
    font-family: 'VT323', monospace;
    font-size: 36px; }
body {
    margin: 0; padding: 0;
    line-height: 1rem;
    background: white; color: var(--color-text-primary);
    border-top: 0.3333rem solid var(--color-theme-primary); }
header, main, footer {
    min-width: 508px; width: 80%; margin: 0 auto; }
header {
    padding: 2rem 1rem 1rem; }
footer {
    font-size: 0.6666rem; line-height: 1.25em; }
main {
    border-radius: 0.25rem; padding: 1rem 1rem;
    background-color: var(--color-theme-secondary); }
header h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2rem; line-height: 2rem; font-weight: 300; }
header > * {
    margin: 0 0; padding: 0 0; }
header, footer {
    color: var(--color-text-secondary); }
a, a:visited {
    color: var(--color-theme-primary); }
main p {
    margin: 0 0 1rem 0; }